*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body {
  min-width: 280px;
  background-color: #F2F2F2 !important;
  height: 100vh;
  padding-top: 30px;
}

#root {
  min-width: 250px;
  margin-inline: 15px;
}